<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Delete Item</title>
</head>

<body>
    <h2>
       Delete Item from DB
    </h2>
    <h4>Successfully deleted item number: {{item}}</h4>
    
    <a href="/">HOME</a>

</body>

</html>